:root{
    --primary: #FFCE00;
    --secondary: #FE4880;
    --dark: #212121;
    --light: #F3F3F3;
}
.inventorybox
{
 display:flex;
flex-direction: column;
height:250px;
background-color:white;
align-items: center;
margin:10px;
margin-left:auto;
margin-right: auto; 
/* width:22%; */
width:300px;
border-radius: 3px;
}

h6{
    color: black;
    margin-right: 10px;
}

input.inputtext{
    width:120px;
    height:30px;
    font-size: 15px;
    /* background-color:rgb(255, 255, 255) */
} 

