.img-1 {
  height: 75px;
  width: 75px;
}

.img-1:hover {
  transform: scale(1.08);
}
.container {
  text-align: center;
  border: 10px;
  border-color: red;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 5px;
  margin-right: 5px;
}

.sides_img {
  border: 10px;
  border-color: black;
}

.btn_style {
  /* border-radius: 100%; */
  margin-top: 1px;
  padding-top: 6px;
  padding-bottom: 6px;
  margin-left: 40px;
  text-align: right;
  height: 35px;
}

.c1 {
  background-color: burlywood;
}

.c2 {
  background-color: DodgerBlue;
}

.items_sides {
  margin-top: 5px;
}

.hide {
  display: none;
}

.myDIV:hover + .hide {
  display: block;
  color: red;
}

a:hover {
  color: read;
}

.btn_more {
  margin-left: 94%;
}

.border1 {
  border-color: black;
  border-width: 2px;
}

.btn {
  background-color: #339946; /* Green */
  border: none;
  color: rgb(255, 255, 255);
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.btn1:hover {
  /* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19); */
  background-color: white;
  color: #339946;
  border: 2px solid #4caf50;
}

.grids {
  background-image: url("https://www.google.com/search?q=backgrounds+orange&tbm=isch&source=iu&ictx=1&fir=kIy-V0pkReYgWM%252C5v-n85ehnSJKjM%252C_%253BiLPjZAbvWvM2yM%252CUFjHdpAx4hPkDM%252C_%253Bnc50AdOa6jLRZM%252CBHV0p5hEd_eeYM%252C_%253BFKcTTMJN6pouPM%252CUFjHdpAx4hPkDM%252C_%253BenhyY68VxqRgqM%252Clr0XzjlaU87q5M%252C_%253BtFe4Kcmj65kvRM%252CUMjgOgqId4DM-M%252C_%253BvBxn852Zi-TMkM%252CNQuku550LbgjfM%252C_%253BIuVvgfo3YR3XTM%252CBQdgcMNOLVaKbM%252C_%253BOWxt0cp-b9fwFM%252ClZG9Z8gDSQKo9M%252C_%253BZzbHSVWO7wUb9M%252CP8BYEFBs2vzsQM%252C_%253BVB926aXzZoDghM%252C5v-n85ehnSJKjM%252C_%253BPwqxm6VtjsmkNM%252CCDH6ZAJFJ1zWTM%252C_&vet=1&usg=AI4_-kS4HKaa5AbdgUgu00nYxeTgePgCXA&sa=X&ved=2ahUKEwjAx_nGm4b0AhVO4XMBHYg2D5IQ9QF6BAgGEAE#imgrc=OWxt0cp-b9fwFM");
}

.breakers {
  height: 40px;
  background-color: rgb(253, 253, 253);
}

.top_links{
  padding-left: 10px;
  padding-right: 10px;
}
