.form-container {
  margin: 0px auto;
  width: 500px;
  /* box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2); */
  position: relative;
  border-radius: 10px;
  height: 570px;
  display: grid;
}


.form-container1 {
  margin: 0px auto;
  margin-left:650px;
  width: 500px;
  /* box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2); */
  position: relative;
  border-radius: 10px;
  height: 525px;
  display: grid;
}

.bgsignup{
  /* background-color: rgb(149, 231, 66); */
  background-image: url("https://cdn.pixabay.com/photo/2015/11/04/15/11/food-1022674_1280.jpg");
  background-size: cover;
}
.form-content {
  border-radius: 0 10px 10px 0;
  position: relative;
  /* background: linear-gradient(
    90deg,
    rgb(0, 232, 236) 0%,
    rgb(255, 125, 39) 100%
  ); */
}


.form-content1 {
  border-radius: 0 10px 10px 0;
  position: relative;
   background: linear-gradient(
    90deg,
    rgb(67, 117, 224) 0%,
    rgb(75, 77, 202) 100%
  ); 
}
.fo_img{
  margin-right: 90%;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.form h1 {
  font-size: 2rem;
  font-weight: bolder;
  text-align: center;
  width: 80%;
  margin-bottom: 1rem;
  color: #fff;
}

.form-inputs {
  /* margin-bottom: 0.5rem; */
  width: 80%;
}

.form-inputs p {
  font-size: 0.8rem;
  font-weight: bold;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form-label {
  display: inline-block;
  font-size: 0.8rem;
  margin-bottom: 6px;
  font-weight: bold;
  color: #fff;
}

.form-input {
  display: block;
  padding-left: 10px;
  outline: none;
  border-radius: 2px;
  height: 40px;
  width: 100%;
  border: none;
}

.form-radio {
  /* display: grid;*/
  justify-content: space-around;
}

.form-input::placeholder {
  color: #595959;
  font-size: 12px;
}

.form-input-btn {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  border-radius: 2px;
  background: linear-gradient(
    90deg,
    rgb(190, 255, 39) 0%,
    rgb(47, 236, 0) 100%
  );
  outline: none;
  border: none;
  color: #fff;
  font-size: 1rem;
}

.form-input-btn:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}

.link-login {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-weight: bold;
  padding-top: 10px;
}

.logomar{
  margin-left:425px;
}

.signinup1{
  margin-top:10px;
  height:30px;
  width:80px;
  text-align: center;
  font-weight: 800;
  margin-left:310px;
  background: linear-gradient(
    90deg,
    rgb(3, 140, 219) 0%,
    rgb(59, 178, 233) 100%
  );
  /* margin-left:500px; */
}

.signinup1:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}

.signinup2{
  margin-top:10px;
  height:30px;
  width:80px;
  text-align: center;
  font-weight: 800;
  background: linear-gradient(
    90deg,
    rgb(3, 140, 219) 0%,
    rgb(59, 178, 233) 100%
  );
  /* margin-left:400px; */
  /* margin-left:500px; */
}

.signinup2:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}

.signinup12{
  margin-top:10px;
  height:30px;
  width:80px;
  text-align: center;
  font-weight: 800;
  margin-left:120px;
  background: linear-gradient(
    90deg,
    rgb(3, 140, 219) 0%,
    rgb(59, 178, 233) 100%
  );
  /* margin-left:500px; */
}

.signinup12:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}

.signinup22{
  margin-top:10px;
  height:30px;
  width:80px;
  text-align: center;
  font-weight: 800;
  background: linear-gradient(
    90deg,
    rgb(3, 140, 219) 0%,
    rgb(59, 178, 233) 100%
  );
  /* margin-left:400px; */
  /* margin-left:500px; */
}

.signinup2:hover {
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgb(39, 143, 255) 0%,
    rgb(12, 99, 250) 100%
  );
  transition: all 0.4s ease-out;
}

